extends ../base
block title
	| partnership_program page
block main
	section.partnership_program
		.container
			.title_wrap_h2
				h2 Партнерская программа
			.program_list
				.list_item
					.list_item_logo
						img(src=require("../../img/logo-program.png"))
					.list_item_text
						h4 Не нужно ничего продавать!
						p Просто расскажите о нас на форумах, блогах или в соц сетях. Советуйте знакомым и друзьям наш сервис.
				.list_item
					.list_item_logo
						img(src=require("../../img/logo-program.png"))
					.list_item_text
						h4 Рефералы закрепляются за Вами пожизненно!
						p Пришедший по Вашей ссылке человек, остается за Вами пожизненно. То есть будет начисляться прибыль каждый раз, когда он будет совершать покупку.
				.list_item
					.list_item_logo
						img(src=require("../../img/logo-program.png"))
					.list_item_text
						h4 11% с каждой покупки при-веденного пользователя!
						p Начисленные деньги можно вывести на свой счет или потратить на приобретение аккаунтов в нашем магазине.
	section.program_registration
		.container
			.program_form
				.pr_title
					h4 Не откладывайте,
					p начните зарабатывать прямо сейчас:
				a(href='#').btn_a БЫСТРАЯ РЕГИСТРАЦИЯ
				.pr_links
					.personal-cab
						i(class="fa fa-sign-in")
						a(href='#') Личный кабинет
					.recovery-pasw
						i(class="fa fa-keyboard-o")
						a(href='#') Восстановление пароля
	.container
		hr
	section.become_our_partner
		.container
			.title_wrap_h2
				h2 Стань партнером магазина Stockaccs и получай прибыль ежемесячно!
				p Наш сервис предлагает уникальные условия сотрудничества, всем желающим. Теперь Вы сможете зарабатывать сидя дома.
			.how_it_works
				h4 Как это работает:
				ul.numerical_style
					li(data-num = "1)") Регистрируетесь на нашем сайте.
					li(data-num = "2)") Получаете уникальную ссылку, по которой должен будет переходить клиент.
					li(data-num = "3)") Предоставляете ссылку, заинтересованному человеку.
					li(data-num = "4)") Он переходит и выбирает необходимые аккаунты.
					li(data-num = "5)") Совершает покупку, на любую сумму.
					li(data-num = "6)") Вы получаете 11% от суммы покупки.
				h4 Где можно разместить ссылку, чтоб перешло больше людей:
				ul
					li В комментариях на Youtube, Вконтакте, Одноклассниках и других соц сетях.
					li В подписи своего профиля на форумах.
					li Создать свою тему на форуме или прокомментировав существующую.
					li Отправить личным сообщением друзьям в соц сетях.
					li Поделиться ссылкой в тематических группах, сообществах.
				p Как видите, предельно просто, получать дополнительный доход, не прикладывая особых усилий. У нас нет ограничений на количество приведенных пользователей – больше приведете, больше получите.
			.forbbiden
				span Запрещено:
				p
					span Использовать спам:
					| рассылки и прочее, с целью распространения своей партнерской ссылки.

