extends ../base
block title
	| personal-area-static page
block main
	section.own_partner_cabinet
		.container
			.title_wrap_h2
				h2 Личный кабинет партнера
			.input_button
				label Ваша партнерская ссылка:
				input(type='text' title='Имя занято другим юзером' class='switch' value="https://stockaccs.com/?parther=XXXXX" readonly)
				button.btn-form.btn-switch ИЗМЕНИТЬ
	.container
		hr
	section.menu_profile
		.container
			.wrap_menu_profile
				.menu
					ul.menu_list
						li
							a(href='#') Мой профиль
						li.active_item
							a(href='#') Статистика
						li
							a(href='#') Баланс
						li
							a(href='#') Выплаты
						li
							a(href='#') Выход
				.profile
					//сменная часть
					.profile_header.static
						h4 СТАТИСТИКА
						.title_form
							p Выбрать период:
							input(type='date' value='2017-08-26')
							input(type='date' value='2017-09-26')
							input(type='hidden')
							input(type='submit' class='personal_area_link btn-form' value='сформировать')
					.profile_body_table
						table
							tr
								td Дата:
								td.numbers 23.07.2017 - 23.08.2017
							tr
								td Кол-во переходов по ссылке:
								td.numbers  3456
							tr
								td Кол-во оформленных покупок:
								td.numbers  4567
							tr
								td Кол-во оплаченных покупок:
								td.numbers  24
							tr
								td Кол-во не оплаченных покупок:
								td.numbers  66
							tr
								td Кол-во повторных покупок рефералов:
								td.numbers  322
					.profile_header БАЛАНС СОДЕРЖИТ
					.profile_body_balance
						p
							span 0 $
							| Одобренные невыплаченные комиссии.
						p
							span 200.0001831 $
							| Заработанные деньги за выбранный период.

